.container {
    display: flex;     
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none
}

.box-size {
    width: 650px;
    height: 850px;
}

.menu-container {          
    background-color: rgb(20, 20, 48); 
    margin-left: auto;
    margin-right: auto;
}

#start-page {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;      
}

#logo {
    margin-right: 60px;
    margin-left: 60px;
}

#input-name {
    text-decoration: none; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: black;    
    border-radius: 15px;
    border: 3px double #1e351f;
    margin: 10px auto;
    text-align: center;
}

#play-btn {
    text-decoration: none; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: black;
    background-color: #a35252;
    border-radius: 15px;
    border: 3px double #1e351f;
    margin: 10px auto;
    text-align: center
    
}
#replay-btn {
    text-decoration: none; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: black;
    background-color: green;
    border: 3px double #1e351f;
    margin: 10px auto;
    text-align: center
    
}




